<div class="panel panel-default">
	<div class="panel-heading">Create Plant Hire Request</div>
	<div class="panel-body">
	
		<form class="form-horizontal" >
	  		<div class="form-group">
	  			<label for="name" class="col-sm-2 control-label">Name</label>
				<input type="text" ng-model="name"></input>
	  		</div>
			<div class="form-group">
	  			<label for="startDate" class="col-sm-2 control-label">Start date</label>
				<input type="date" ng-model="startDate"></input>
	  		</div>
	  		<div class="form-group">
	  			<label for="endDate" class="col-sm-2 control-label">End date</label>
				<input type="date" ng-model="endDate"></input>
	  		</div>
	 		<button class="btn btn-default" ng-click="execQuery()">
				Search plant
			</button>
		</form>
		<p/>
		<div ng-show="catalogShown">
			<table class="table table-bordered table-striped">
				<thead>
					<tr>
						<th>Name</th>
						<th>Description</th>
						<th>Price</th>
						<th>Actions</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="plant in plants">
						<td>{{plant.name}}</td>
						<td>{{plant.description}}</td>
						<td>{{plant.price}}</td>
						<td>
							<button class="btn btn-default btn-xs" ng-click="setPlant(plant)">
								<span class="glyphicon glyphicon-check"></span>
							</button>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>
